._body {
	display: block;
	margin-bottom: 35px;

	background-color: #4E4963;
	color: #fff;
}

._body:hover {
	color: #fff;
}

._photo > div {
	width: 100%;
	height: 100%;
}

._photo img {
	object-fit: cover;
}

._content {
	padding: 25px;
}

._date {
	margin-bottom: 40px;
}

._date img {
	margin-right: 10px;
}

._title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 35px;
}

._description {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	font-size: 12px;
}