._body {
	display: flex;
	justify-content: space-between;
	align-items: stretch;

	padding: 20px 0;
	margin: 0 20px;
	border-bottom: 1px solid #E9E9E9;
}

._statistics {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

._photo {
	flex: 1 0 60px;
	margin-right: 20px;
}

._information {
	flex: 1 1 auto;
}

._title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}