.burger {
	position: relative;
	width: 30px;
	height: 30px;
}

.burger.collapsed span {
	transform: none !important;
	transition: transform 400ms ease 0ms, 
				top 400ms ease 400ms, 
				bottom 400ms ease 400ms;
}

.burger.collapsed span:nth-child(1) {
	top: 0;
}

.burger.collapsed span:nth-child(2) {
	top: calc(50% - 2px);
}

.burger.collapsed span:nth-child(3) {
	bottom: 0;
}

.burger span {
	position: absolute;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: #01C71B;
	transform-origin: center;
	transition: transform 400ms ease 400ms, 
				top 400ms ease 0ms, 
				bottom 400ms ease 0ms;
}

.burger span:nth-child(1) {
	top: calc(50% - 2px);
	transform: rotate(45deg);
}

.burger span:nth-child(2) {
	top: calc(50% - 2px);
	transform: scale(0);
}

.burger span:nth-child(3) {
	bottom: calc(50% - 2px);
	transform: rotate(-45deg);
}