.footer {
	margin-top: 50px;
}

.footer__body {
	padding: 30px;
	background-color: #4E4963;
	position: relative;
}

.footer__body:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 60%;
	height: 4px;
	background-color: #2A2836;
}

.footer__body:after {
	content: '';
	position: absolute;
	top: -4px;
	left: 50%;
	transform: translateX(-50%);
	width: 40%;
	height: 4px;
	background-color: #01C71B;
	animation: motion 4s linear 0ms infinite alternate;
}

.footer__title {
	font-family: "Jost", sans-serif;
	font-size: 12px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.footer__links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	max-height: 250px;
}

.footer__links a {
	font-family: "Jost", sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	margin: 7px 0;
}

.footer__links a img {
	width: 20px;
	height: 20px;
	margin-right: 20px;
}

.footer__links a:hover img {
	animation: turn 800ms ease 0ms alternate;
}

.footer__copyright {
	font-size: 10px;
	color: #fff;
	text-align: end;
}

@-webkit-keyframes motion {
	0% {
		left: 50%;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	100% {
		left: 100%;
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
  }
  
  @keyframes motion {
	0% {
		left: 50%;
		-webkit-transform: translateX(-50%);
				transform: translateX(-50%);
	}
	100% {
		left: 100%;
		-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
	}
  }