._button {
	font-family: 'Jost, Sans-Serif';
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 2px;
}

._buttonSave {
	border: 1px solid #4E4963;
	background-color: #FFF;
}

._buttonPublish {
	color: #FFF;
	border: 1px solid #019A15;
	background-color: #01C71B;
}