.header {
	padding: 30px 0;
}

.header__top {
	padding-bottom: 20px;
	border-bottom: 10px solid #c4c4c4;
}

.header__search {
	display: flex;
	justify-content: center;
	align-items: stretch;
	box-shadow: 0px 1px 4px rgba(124, 124, 124, 0.2);
}

.header__search input {
	flex: 1 1 auto;
	border: none;
	padding: 10px 20px;
	font-size: 12px;
	color: #dbdbdb;
}

.header__search input:focus {
	outline: none;
	box-shadow: 0px 1px 4px 5px rgba(124, 124, 124, 0.2);
}

.header__search button {
	flex: 0 1 40px;
	height: 40px;
	outline-offset: unset;
	border: none;
	background-color: #01C71B;
}

.header__search button:hover {
	background-color: #0fac24;
}

.header__languages {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

.header__languages a {
	font-family: "Jost", sans-serif;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
	margin-left: 30px;
}

.header__navigation {
	border-bottom: 3px solid #4E4963;
}

.header__navigation ul {
	list-style-type: none;
}

.header__navigation li {
	padding: 0 15px;
}

.header__navigation a {
	font-family: "Jost", sans-serif;
	font-weight: 400;
	color: #000;
	display: inline-block;
	padding: 10px;
	position: relative;
}
  
.header__navigation a:after {
	content: '';
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%);
	width: 0;
	height: 3px;

	transition: all 500ms ease 0ms;
	background-color: #01C71B;
}
  
.header__navigation a.current:after {
	width: 100%;
}
  
.header__navigation a:hover:after {
	width: 100%;
}
