._body {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

._body a {
	box-shadow: none;
}

._showMore {
	text-align: end;
	padding: 20px 10px;
}

._showMore  button {
	border: none;
	background-color: transparent;
}

._showMore button img {
	width: 15px;
	margin-left: 3px;
  }