._body {
    width: 2rem;
    height: 2rem;
    border: 5px solid #4E4963;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1000ms linear 0ms infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}