._body {
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}

._title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;	
}

._date {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 20px;
	
	font-size: 14px;
	font-weight: 300;
	color: #818181;
}

._date img {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}

._poster {
	overflow: hidden;
	border-bottom: 1px solid #01C71B;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

._poster img {
	width: 100%;
	height: 100%;
}

._content img {
	max-width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

._content ul {
	list-style-position: inside;
}