._body {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
	border-right: 1px solid #01C71B;
	transition: box-shadow 500ms ease 0ms;
}

._body:hover {
	color: initial;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

._photo {
	flex: 1 0 140px;
}

._photo > div {
	height: 100%;
}

._photo img {
	object-fit: cover;
}

._title {
	font-size: 14px;
	font-weight: 600;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
	margin-bottom: 20px;
}

._content {
	align-self: flex-end;
	padding: 0 15px;
}

._statistics {
	display: flex;
	justify-content: flex-end;
}

._statistics > div:first-child {
	margin-right: 20px;
}

._statistics img {
	width: 10px;
	height: 10px;
	margin-right: 10px;
}