._body {
    display: inline-block;
    width: 100%;
    height: 100%;
}

._content {
    color: #fff;
    padding: 20px;
    background-color: #4E4963;
}

._photo {
    height: calc(100% - 100px);
}

._photo > div {
    width: 100%;
    height: 100%;
}

._photo img {
    object-fit: cover;
}

._title {
    font-size: 14px;
    font-weight: 600;
}

._date {
    font-size: 12px;
    font-weight: 300;
    text-align: end;
}

._date img {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

._content {
    height: 100px;
}