._body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

._header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #01C71B;
}

._title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
