._inputField {
	font-size: 14px;
	font-weight: 300;

	width: 100%;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}

._inputField input,
._inputField textarea {
	width: 100%;
	border: none;
	padding: 15px;
	resize: none;
}

._inputField input:focus,
._inputField textarea:focus {
	outline: none;
	border: none;
}

._inputField_date {
	position: relative;
	max-width: 270px;
}

._inputField_date > div {
	position: relative;
	z-index: 2;
	width: 100%;
}

._inputField_date input {
	cursor: pointer;
	background-color: transparent;
}

._inputField_date img {
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 1;
	transform: translateY(-50%);

	height: 100%;
	padding: 15px;
	background-color: #4E4963;
}

._poster {
	position: relative;
	width: 100%;
	height: 140px;
	border-radius: 5px;
	overflow: hidden;
}

._poster img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

._profilePhotoInputField {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 75%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

._profilePhotoInputField:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url(/icons/camera.svg) center / 20px auto no-repeat #01C71B;
}

._profilePhotoInput {
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 0;
}
