._banner {
	color: #fff;
	text-align: center;
	padding: 30px 0 70px 0px;
	background-color: #4E4963;
}

._title {
	font-size: 30px;
	font-weight: 500;
}

._subtitle {
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 35px;
}

._photo {
	position: relative;
	top: -60px;
	width: 230px;
	height: 230px;
	border: 4px solid #FFF;
	background-color: #FFF;
	border-radius: 50%;
	overflow: hidden;
}

._photo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

._information {
	padding-top: 30px;
	padding-bottom: 30px;
}

._information img {
	width: 18px;
	height: 18px;
	margin-right: 10px;
}

._information_top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 12px;
	margin-bottom: 40px;
}

._username {
	font-size: 22px;
	font-weight: 600;
}

._socials {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	list-style-type: none;
	flex-wrap: wrap;
}

._socials li {
	white-space: nowrap;
}

._socials li:not(:last-child) {
	margin-right: 30px;
}
