._wrapper {
	position: fixed;
	z-index: 999;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	padding: 15px;
	overflow-y: scroll;
	transition: all 800ms ease 0ms;
	background-color: rgba(255, 255, 255, 0.8);
}

._visible {
	display: block;
}

._hidden {
	display: none;
}

._form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;

	width: 100%;
	min-height: 100%;
	max-width: 1050px;
	margin: 0 auto;

	background-color: #FFF;
	box-shadow: 0px 4px 20px rgba(102, 102, 102, 0.25);
}

._header {
	display: flex;
	justify-content: space-between;
	padding: 30px;
	background-color: #4E4963;
	
	font-size: 18px;
	font-weight: 600;
	color: #FFF;
}

._body {
	flex: 1 1 auto;
	padding: 40px;
}

._footer {
	text-align: end;
	padding: 20px 40px 40px 40px;
}

._button {
	font-family: 'Jost';
	font-size: 14px;
	font-weight: 400;
	color: #FFF;

	padding: 10px 20px;
	border-radius: 2px;
	border: 1px solid #059F19;
	background-color: #01C71B;
}

._textInputField {
	font-size: 14px;
	font-weight: 600;

	position: relative;
	margin-bottom: 16px;
	border-bottom: 1px solid #4E4963;
}

._textInputField label {
	font-size: 12px;
	font-weight: 400;
	color: #4E4963;
}

._textInputField input,
._textInputField select {
	font-size: 14px;
	font-weight: 600;

	width: 100%;
	border: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

._textInputField option {
	padding: 8px 0;
}

._textInputField input:focus,
._textInputField select:focus {
	outline: none;
}

._textInputField input:focus {
	outline: none;
}

._textInputField img {
	position: absolute;
	right: 15px;
	bottom: 8px;
	
	padding: 5px;
	cursor: pointer;
}

._profilePhotoPicker {
	display: flex;
	flex-direction: column;
    align-items: center;
}

._photo {
	position: relative;
	width: 210px;
	height: 210px;
	margin-bottom: 30px;
}

._photo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 0 5px rgb(0 0 0 / 40%);
}

._profilePhotoInputField {
	position: absolute;
	z-index: 5;
	bottom: 0;
	left: 75%;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

._profilePhotoInputField:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;
	pointer-events: none;
	background: url(/icons/camera.svg) center / 20px auto no-repeat #01C71B;
}

._profilePhotoInput {
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-size: 0;
}

._profilePhotoRemove {
	font-size: 14px;
	font-weight: 400;
	
	cursor: pointer;
	padding: 10px 30px;
	border-radius: 2px;
	border: 1px solid #4E4963;
	background-color: #FEFEFE;
	transition: all 500ms ease 0ms;
}

._profilePhotoRemove:hover {
	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
}