._wrapper {
	margin-top: 50px;
}

._body {
	color: #000;
	padding: 15px 0;
	border-top: 3px solid #4E4963;
}

._content {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	margin-bottom: 15px;
}

._photo {
	width: 65px;
	height: 65px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 25px;
}

._photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

._information {
	padding: 15px 0;

	font-size: 12px;
	line-height: 1;
}

._title {
	font-weight: 600;
	margin-bottom: 10px;
}

._text {
	font-weight: 300;
}

._share {
	display: flex;
	justify-content: flex-end;
	padding: 10px 0;
}

._links {

}

._links img {
	margin-left: 20px;
}