* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	margin: 0;
}

body {
	overflow-x: hidden;
}

body.lock {
	overflow-y: hidden;
}

* {
	padding: 0;
	margin: 0;
}

ul, p {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: initial;
	text-decoration: none;
}

button:focus {
	outline: none;
}

.container {
	width: 100%;
	max-width: 1130px;
}

body {
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
	box-sizing: border-box;
}

.notification {
	position: fixed;
	top: 20px;
	right: 20px;
	width: auto;
	z-index: 999;

	color: #FFF;
	border-radius: 30px;
	padding: 5px 20px;
	box-shadow: 0px 0px 5px 2px rgba(124, 124, 124, 0.2);

	animation: translate 500ms ease 0ms 1;
}

.notification.success {
	background-color: #01C71B;
}

.notification.warning {
	background-color: #FFC001;
}

.notification.error {
	background-color: #D10202;
}

.textSuccess {
	color: #01C71B;
}

.textWarning {
	color: #FFC001;
}

.textError {
	color: #D10202;
}

@keyframes translate {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}